.text-input-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 15vh;
  padding: 0 2rem;
}

.text-container {
  width: 42.5%;
  display: flex;
  flex-flow: column nowrap;
  gap: 3rem;
  color: var(--maroon);
}

.contact-h2 {
  margin-bottom: 10px;
  text-decoration: underline var(--blue);
  text-decoration-thickness: 3px;
}

.contact-h4 {
  margin-bottom: 4px;
  text-decoration: underline var(--blue);
}

.contact-link {
  color: var(--blue);
  text-decoration-color: var(--maroon);
}

.contact-form {
  width: 45%;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}

.form-input {
  border: none;
  border-bottom: 2px solid var(--blue);
  background-color: transparent;
  transition-property: background;
  transition-duration: 1s;
  border-radius: 5px;
  height: 2.5rem;
  padding: 0 8px;
}

.single-input-container {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 15px;
  width: 100%;
  max-width: 700px;
}

.form-input:hover {
  background: bisque;
  transition-delay: 0s;
}

.submit-btn {
  color: var(--maroon);
  border: var(--blue) 2px solid;
  background: bisque;
  height: 2.5rem;
  padding-top: 8px;
}

.submit-btn::before {
  background: rgb(162, 147, 128);
  box-shadow: var(--blue) 0px 0px 0px 2px;
}

label {
  font-size: 0.75rem;
}

.contact-logo {
  position: absolute;
  bottom: 7vh;
  left: 7vw;
}

.contact-footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 0 8vw;
  position: absolute;
  bottom: 10vh;
  width: 100%;
}

.other-contacts {
  max-width: 300px;
  font-size: 0.75rem;
}
