.text-input-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 20vh;
  padding: 0 2rem;
}

.text-container {
  width: 42.5%;
  display: flex;
  flex-flow: column nowrap;
  gap: 3rem;
  color: var(--maroon);
}

.contact-h1 {
  font-family: var(--fancy-font);
  margin-bottom: 10px;
  text-decoration: underline var(--blue);
  text-decoration-thickness: 3px;
  font-style: italic;
}

.contact-h4 {
  margin-bottom: 4px;
  text-decoration: underline var(--blue);
  font-style: italic;
}

.contact-link {
  color: var(--blue);
  text-decoration-color: var(--maroon);
}

.contact-form {
  width: 45%;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}

.form-input {
  border: none;
  border-bottom: 2px solid var(--blue);
  background-color: transparent;
  transition-property: background;
  transition-duration: 1s;
  border-radius: 5px;
  height: 2.5rem;
  padding: 0 8px;
}

.single-input-container {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 15px;
  width: 100%;
  max-width: 700px;
}

.form-input:hover {
  background: bisque;
  transition-delay: 0s;
}

.submit-btn {
  color: var(--maroon);
  border: var(--blue) 2px solid;
  background: bisque;
  height: 2.5rem;
  padding-top: 8px;
}

.submit-btn::before {
  background: rgb(202, 172, 133);
  box-shadow: var(--blue) 0px 0px 0px 2px;
}

label {
  font-size: 0.75rem;
}

.shimmer {
  background: linear-gradient(
    to right,
    var(--maroon) 0,
    var(--blue) 10%,
    var(--maroon) 20%
  );
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shimmer 5s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  white-space: nowrap;
}

@keyframes shimmer {
  0% {
    background-position: -100px;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}
