@use "typed";

/* Main Page */
.home-page {
  min-height: 100vh;
  position: relative;
}

/* ThreeJS 3D Badge */
.id-badge-canvas {
  width: 100%;
  height: 100vh;
}

/* Typewriter Text */
.typewriter {
  color: white;
}
