.page-container {
  position: relative;
  height: 100%;
}

.projects-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  margin-top: 10vh;
  padding-bottom: 200px;
  gap: 5vh;
}

.projects-container:last-child {
  margin-top: 10vh;
}

.container-header-description {
  line-height: 2.5rem;
}

.container-header {
  text-align: center;
  color: var(--maroon);
  font-size: 2rem;
}

.container-description {
  text-align: center;
  color: var(--maroon);
  font-size: 0.9rem;
}

.blue {
  color: var(--blue);
}

.projects-list {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  max-width: 1300px;
  justify-content: center;
  gap: 1rem;
  padding: 0 2rem;
}

@media only screen and (max-height: 590px) {
  .projects-container {
    padding-bottom: 30px;
  }
}
