.contact-footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 0 5%;
  position: absolute;
  bottom: 0;
  left: 5%;
  width: 90%;
  height: 90px;
  margin-bottom: 4vh;
}

.other-contacts {
  max-width: 300px;
  font-size: 0.75rem;
  text-align: right;
}

@media only screen and (max-width: 600px) {
  .other-contacts {
    max-width: 200px;
  }
}
