/* Variables */
:root {
  /* Colors */
  --cream: #dcc5a0;
  --maroon: #550000;
  --offwhite: #f2f0ef;
  --grey: #444;
  --blue: #14527c;

  /* Fonts */
  --fancy-font: "EB Garamond", serif;
  --modern-display-font: "Noto Sans Display", sans-serif;
  --modern-font: "Open Sans", sans-serif;
}

/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea {
  font: inherit;
}

/* General Styles */
html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--modern-font);
  min-height: 100%;
  font-size: medium;
  line-height: 1.3em;
  background-color: var(--cream);
}

/* Utility */
.nowrap {
  white-space: nowrap;
}

.block {
  display: block;
}

/* Logo */
.logo-container {
  border: 5px solid var(--blue);
  border-radius: 7px;
  background-color: var(--maroon);
  width: 50px;
  height: 90px;
  color: var(--cream);
  font-size: 2rem;
  text-align: center;
  line-height: 30px;
  padding-top: 8px;
  font-family: var(--fancy-font);
  font-style: italic;
  font-weight: 800;
}
